.accordion {
  --bs-accordion-btn-color: white;
  --bs-accordion-btn-bg:  hsl(0, 0%, 25%);
  --bs-accordion-btn-focus-box-shadow: var(--shadow-3)
}

.accordion-button:not(.collapsed) {
    position: relative;
    width: 100%;
    background: var(--border-gradient-onyx);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 20px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    font-size: 20px;
    text-transform: capitalize;
    box-shadow: var(--shadow-3);
    z-index: 1;
    transition: var(--transition-1);
}

.accordion-button.collapsed {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 20px;
    font-size: 20px;
    text-transform: capitalize;
    box-shadow: var(--shadow-3);
    z-index: 1;
    transition: var(--transition-1);
}
